@import url('https://fonts.googleapis.com/css2?family=Mandali&display=swap');

* {
    margin: 0;

    font-family: 'Mandali', sans-serif;
    font-size: 20px;

}

body {
    background-color: cornsilk;

}

#naslov-index {
    margin-top: 30px;
    margin-left: 520px;
    color: blue;
}

.tabela-izvestaja {
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
}

#noviIzvestajForma {
    margin-top: 50px;
    width: 850px;
    margin-left: 540px;
}


.red-forma {
    margin-bottom: 10px;
}

#sacuvajIzvestaj {
    margin-top: 15px;
    margin-left: 280px;
    width: 250px;
}